


<ion-header *ngIf="platform.isPortrait()">
  <ion-toolbar color="primary">
    <ion-title text-center>
      Tiekamerahaku
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding-top="40%" >

  <div *ngIf="!loadingComplete" align-items-center >
    <ion-spinner></ion-spinner>
  </div>

    <form *ngIf="platform.isPortrait()" [formGroup]="form" padding-bottom="20%" >
      <div class="flex-container">
        <ion-input *ngIf="this.loadingComplete" type="text" formControlName="searchtext" color="primary" maxlength="25" placeholder="etsi kaupunkia" id="inputField"></ion-input>
        <button *ngIf="this.loadingComplete"  ion-button color="dark" (click)="searchTown()" id="searchButton"> <ion-icon name="search"></ion-icon></button>
      </div>
    </form>

  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="targetFound">
    <ion-label color="danger" float-right padding-right="20%">{{cameraData.length}} osumaa!</ion-label>
    <ion-slides  [pager]="false" #slides [zoom]="true">
      <ion-slide *ngFor="let entry of cameraData">
        <div class="swiper-zoom-container" tappable (click)="viewPhoto(entry.imageUrl)">
          <img [src]="entry.imageUrl"/>
        </div>
         <h2>{{entry.presentationName}}</h2>
        <p><ion-icon name="calendar"></ion-icon>  {{entry.measuredTime | date:"d/M/yy"}} </p>
        <p><ion-icon name="clock"></ion-icon>  {{entry.measuredTime | date:"H:m:ss "}}</p>
        <p padding-bottom="5%"><ion-icon name="partly-sunny"></ion-icon>  {{entry.nearestWeatherStationId | temperatureData | async}} Celsius</p>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="noTargetsFound" padding-bottom>
    <h3 padding-top>Kameroita ei löytynyt antamallasi hakusanalla.</h3>
    <h5> Kokeile jotain kohteesi lähellä olevaa suurempaa kaupunkia hakusanana.. </h5>
  </div>
  <p>{{consolelog}}</p>
</ion-content>

